<footer class="page-footer font-small bg-secondary pt-4 fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="network p-0">
                    <li>
                        <a href="https://www.linkedin.com/in/rutehelencosta" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/rHelen" target="_blank" class="icoGithub">
                            <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</footer>
