<div class="container-fluid">
  <div class="row d-flex align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <h2 class="text-center mb-3">Entrar</h2>
          <form class="">
            <div class="form-group">
              <label for="usuario">Usuário</label>
              <input
                [(ngModel)]='usuarioLogin.usuario'
                class="form-control" type="email" name="usuario" id="usuario"
                placeholder="Seu e-mail"
              />
            </div>
            <div class="form-group">
              <label for="senha">Senha</label>
              <input
                [(ngModel)]='usuarioLogin.senha'
                class="form-control" type="password" name="password" id="password"
                placeholder="Sua senha"
              />
            </div>
          </form>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary col-7" (click)='entrar()'>Entrar</button>
          </div>
          <hr class="my-4" />
          <div class="d-flex justify-content-center h5">
            <p>Não tem uma conta?<a routerLink="/cadastrar" class="ml-1">Cadastre-se</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" id="imgBg"></div>
  </div>
</div>
